#tela {
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	width: 252px;
	background: #87CEEB;
}		
#tabela{
    border: inset 10px #b3daff;
    border-radius: 12px;
    background: #80c1ff;
}
td{
	padding: 3px;
}
button{
	width: 65px;
	height: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #339cff;
    border: inset 4px white;
}
input{
	height: 40px;
}
#btZero {
	width: 134px;
}
body{
	background: black;
}
p{
    	text-align: center;
	color: White;
}
